.container {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.form {
    display: flex;
}
.input {
    font-size: 1rem;
    width: 50em;
    padding: 0 15px;
    margin-right: 1em;
}
.containerButtons {
    width: 5rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.button{
    border: none;
    background-color: transparent;
    width: min-content;
    height: 30px;
    width: 30px;
    opacity: 0.7;

}
.button:hover {
    color: black;
    background-color: transparent;
    opacity: 1;
}
