.container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.map {
    overflow:hidden;
    border-radius: 10px;
}
.frameMap {
    width: 800px;
    height: 400px;
    border: none;
}
.contactContainer {
    border-radius: 10px;
    width: 300px;
    background-color: white;
}
.contactContainer h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}
.contacts {
    margin-top: 0;
    font-style: normal;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact{
    padding: 5px 0 ;
    display: flex;
    justify-content: start;
}
.contact span {
    margin: 0 10px;

}
a {
    text-decoration: none;
    color: black;
}