.container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.map {
    overflow:hidden;
    border-radius: 10px;
}
.frameMap {
    width: 700px;
    height: 400px;
    border: none;
}
.contactContainer {
    border-radius: 10px;
    width: 300px;
    background-color: white;
}
.contactContainer h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}
.contacts {
    margin-top: 0;
    font-style: normal;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact{
    padding: 5px 0 ;
    display: flex;
}
.contact span {
    margin: 0 10px;
}
.contact p {
    margin: 0;
    width: 200px;
}
a {
    text-decoration: none;
    color: black;
}