.container {
    margin: 20px 0 0;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 150px 11fr;
}
.containerSortsFilters {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 180px;
    height: min-content;
    background-color: white;
    border: 1px solid red;
    border-radius: 10px;
}
.catalogs {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.notFoundCars {
    margin-top: 10px;
}