.container {
    border: 1px solid black;
    border-radius: 3%;
    width: 500px;
    height: 630px;
    text-align: center;
    font-size: 18px;
    background-color: white;
    position: relative;
}
.container img {
    display: block;
    width: 100%;
}
.name {
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid black;
}
.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    width: 500px;
    height: 300px;
}
.description {
    min-height: 105px;
    width: 98%;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.description span {
    width: inherit;
}
.listOfСharacteristics {
    height: 65px;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
.price {
    margin: 10px 0 20px 0 ;
}