body{
    background-color: rgb(234, 233, 233);
}
.link, .btn {
    font-size: 18px;
    color: black;   
    text-decoration: none;
    background-color:white;
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    min-height: 30px;
    margin: 0 auto;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link:hover, .btn:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
}
input{
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    height: 20px;
}
input:focus {
    outline: none !important;
    border: 1px solid black;
}
/*Firefox remove arrows*/
input[type=number] {
    -moz-appearance: textfield;
}
/*Chrome, Safari remove arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}