html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
body{
    background-color: rgb(234, 233, 233);
}
.link, .btn {
    font-size: 1.1rem;
    color: black;   
    text-decoration: none;
    background-color:white;
    border: 1px solid black;
    border-radius: 0.3125rem;
    width: 7.5rem;
    min-height: 1.875rem;
    margin: 0 auto;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link:hover, .btn:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}
input{
    border: 1px solid rgb(177, 177, 177);
    border-radius: 0.3125rem;
    height: 2rem;
}
input:focus, select:focus {
    outline: none !important;
    border: 1px solid black;
}

.popupIsActive:after {
    content: " ";
    opacity: 0.7;
    background-color: #1C1C1C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
.popupIsInActive {
    display: none;
}

/*Chrome, Safari remove arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*Feedback module. slider arrows from slick-carousel(node_modules)*/
.slick-arrow.slick-next::before,
.slick-arrow.slick-prev::before{
    color: black;
    font-size: 25px;
}
/*Feedback module. slider dots from slick-carousel(node_modules)*/
ul.slick-dots li button:before {
    font-size: 10px;
    top: 10px;
}

@media (max-width: 1400px){
    html {
        font-size: 15px;
    }
}
@media (max-width: 1200px){
    html {
        font-size: 12px;
    }
}
@media (max-width: 1050px){
    html {
        font-size: 10px;
    }
}

@media (max-width: 900px){
    html {
        font-size: 9.5px;
    }
}