.container {
    font-size: 20px;
    max-width: 20em;
    height: 12em;
    border-radius: 0.5em;
    background-color: white;
    position: relative;
    z-index: 0;
}
.categoryImage {
    position: absolute;
    bottom: 3.5em;
    right: 4.5em;
    max-width: 10.5em;
    z-index: -1;
}
.promoImage {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5em;
}
.info {
    position: absolute;
    top: 0.5em;
    height: 11em;
    width: 19.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name, .promoName {
    padding: 2px 5px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.2em;
    text-transform: uppercase;
}
.promoName {
    border: 1px solid black;
}
.promoFire {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0.7em;
}

.button {
    font-size: 16px;
    width: 10em;
}