.container {
    width: min-content;
    margin: 1.25rem auto;
    font-size: 1.125rem;
}
.containerInfo {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 22rem 22rem 23.625rem;
    grid-template-rows: auto auto;
    row-gap: 3.1rem;
    column-gap: 8.44rem;
}

.mainImage{
    height: 28rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.63rem;
    grid-column: span 2;
}
.miniInfo{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    border-radius: 0.5625rem;
    grid-column: span 1;
}
.miniInfo h2 {
    margin: 0.65rem auto 0;
    text-align: center;
}
.miniCharacters {
    display: flex;
    width: 15.1875rem;
    margin: 0 auto;
}
.miniCharacters span{
    width: 6.5rem;
}

.itemMoreImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: inherit;
    height: 15.5rem;
    border-top-right-radius: 0.5625rem;
    border-top-left-radius: 0.5625rem;
    
}

.itemMoreInfo{
    display: flex;
    flex-direction: column;
    height: 29.25rem;
    border-radius: 0.5625rem;
    background-color: white;
    margin-top: 0;
    margin-bottom: 1.5em;
    grid-column: span 1;
}
.itemMoreInfo p {
    margin: auto 0;
    width: 17.55rem;
    text-align: center;
    margin: auto;
    height: min-content;
}
.button{
    position: absolute;
    left: 2.5rem;
    top: 5rem;
}

.serviceButtonsContainer {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.5625rem;
    margin: auto;
    margin-bottom: 1.2rem;
}
.serviceButton {
    width: 11.25rem;
}
.error{
    margin: auto;
    margin-top: 1.2rem;
    width: max-content;
}
@media (max-width: 700px){
    .containerInfo {
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
    }
    .mainImage, .itemMoreImg {
        width: 70rem;
        height: 40rem;
    }
    .miniInfo {
        width: inherit;
        font-size: 2rem;
    }
    .miniCharacters {
        width: 35rem;
    }
    .miniCharacters span {
        width: 12rem;
    }
    .serviceButton {
        font-size: 2rem;
    }
    .itemMoreInfo {
        font-size: 2rem;
        height: 62rem;
        width: inherit;
    }
    .itemMoreInfo p {
        width: 40rem;
    }
    .serviceButtonsContainer {
        flex-direction: row;
        gap: 10rem;
    }
}
@media (max-width: 520px){
    .containerInfo {
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
    }
    .mainImage, .itemMoreImg {
        width: 60rem;
        height: 40rem;
    }
}
@media (max-width: 440px){
    .containerInfo {
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
    }
    .mainImage, .itemMoreImg {
        width: 50rem;
        height: 40rem;
    }
}