.buttons {
    display: flex;
    margin-top: 0;
    width: 100%;
    justify-content: space-around;
}
.buttons button {
    font-size: 16px;
    background-color:white;
    border: 1px solid black;
    border-radius: 2px;
    min-width: 120px;
    min-height: 30px;
}
.buttons button:hover {
    background-color: aquamarine;
    transition: 0.25s;
}