/* <div className = {styles.container}>
<h2 className={styles.name}>{car.name}</h2>
<img src={car.url} alt = {car.alt} className={styles.image}/>
<p className={styles.description}>{car.description}</p>
<div>
    <p className={styles.year}>{car.year}</p>
    <p className={styles.mileage}>{mileage}</p>
    <p className={styles.hp}>{hp}</p>
</div>
<p className={styles.price}>{price}</p>
<button className={styles.btnBuy}>buy</button>
<button className={styles.btnMoreInfo}>more info</button>
</div> */
.container {
    border: 1px solid red;
    max-width: 30vw;
    height: auto;
    margin: 10px;
    height: 550px;
}
.name {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: 5px auto;
    border: 1px solid black;
}
.image {
    min-width: 300px;
    max-width: inherit;
}
.description {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    max-height: 80px;
    margin: 10px 0;
}
