.container {
    font-size: 1.25rem;
    padding: 0.5em;
    width: 8em;
    text-align: center;
}
.form {
    height: 28rem;
    position: relative;
}
.listOfFilter{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.buttonFilter, .buttonReset{
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0%);
    width: 10rem;
}
.buttonReset {
    margin-bottom: 0.25em;
    bottom: 2em;
}