.container {
    width: 100%;
}
.mainImage{
    min-height: 650px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
    border: 1px solid black;
}
.miniInfo{
    min-width: 300px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap:20px;
    border: 1px solid black;
    font-size: 20px;
}
.error{
    border-bottom: 1px solid black;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    width: max-content;
}
.item{
    height: 220px;
    border: 1px solid red;
}