.container {
    font-size: 2em;
    margin: 4em auto 2em;
}
.catalogs {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: min-content;
    display: grid;
    grid-template-columns:12em 12em 12em;
    gap: 3em;
}