.popup {
    position: fixed;
    font-size: 1.2rem;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40.4em;
    min-height: 20.2em;
    padding: 0.25em 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.78em;
    color: black;
    z-index: 3;
}
.form{
    height: inherit;
    padding: 0.56em 0;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form label{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.1em;

}
.form input{
    padding-left: 0.95em;
    border-radius: 0.4em;
    width: 18rem;
    margin: 0 auto;
}
.leaveDataParagraph {
    margin-top: 0.28em;
}
.closeButton {
    position: absolute;
    right: 0.56em;
    top: 0.56em;
    border: none;
    background-color: transparent;
}
.closeButton:hover {
    cursor: pointer;
}