.container {
    font-size: 16px;
    color: white;
    height: 600px;
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    background-image: url('../../../UI/images/ferrari_812_competizione.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.container h2 {
    top: 10px;
    right: 30%;
    position: absolute;
}
.infoCompany {
    padding: 0 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 380px;
    height:120px;
    position: absolute;
    top: 50px;
    left: 30px;
    display: flex;
    flex-direction: column;
}
.infoCompany p {
    margin: auto ;
}

.trust {
    color: black;
    background-color: white;
    height: 100px;
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 70px;
    right: 40px;
    border-radius: 10px;
}
.trust h3 {
    margin: auto 0;
}
.facts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 70px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}
.fact {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(177, 177, 177);
}
.fact:not(:last-child) {
    border-right: 1px solid rgb(177, 177, 177);
}
button.button {
    width: 200px;
}