.container {
    font-size: 18px;
    color: white;
    border: 1px solid red;
    height: 600px;
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
    background-image: url('../../../UI/images/ferrari_812_competizione.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.container h2 {
    margin-top: 10px;
}
.infoCompany {
    padding: 0 10px;
    border: 1px solid red;
    border-radius: 10px;
    width: 380px;
    height:150px;
    position: absolute;
    top: 50px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trust {
    border: 1px solid red;
    width: 720px;
    position: absolute;
    top: 100px;
    right: 40px;
    border-radius: 10px;
}
.facts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 70px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}
.fact {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid red;
}
.fact:not(:last-child) {
    border-right: 1px solid red;
}
.classLink {
    width: 180px;
}