.container {
    font-size: 1.25rem;
    margin: 1em 0 0;
    display: grid;
    grid-template-columns: 7.5em 1fr;
    position: relative;
}
.containerSortsFilters {
    display: flex;
    flex-direction: column;
    margin-left: 2.25em;
    margin-bottom: 1em;
    margin-top: 2.6em;
    width: 9em;
    height: min-content;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
}
.containerSearchCars {
    margin-left: 3.8em;
}
.catalogs {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
}
.notFoundCars {
    margin-top: 0.5em;
    width: 35em;
    text-align: center;
}
.button {
    position: absolute;
    height: 2em;
    width: 5em;
    left: 2.8rem;
}