.inputsContainer {
    position: relative;
}
.nameInput {
    font-size: 17px;
}
.input {
    width: 120px;
    padding-left: 25px;
    margin-bottom: 5px;
}

.minValue, .maxValue {
    position: absolute;
    left: 12px;
}
.maxValue {
    top: 27px;
}
