.container {
    font-size: 1.25rem;
}
.inputsContainer {
    position: relative;
}
.nameInput {
    font-size: 1rem;
}
.input {
    width: 8rem;
    height: 1.5em;
    padding-left: 2em;
    margin-bottom: 0.25em;
}
.minMaxValue {
    font-size: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3rem;
    top: 0.19rem;
    left: 0.4rem;
}