.container {
    font-size: 1.25rem;
}
.inputsContainer {
    position: relative;
}
.nameInput {
    font-size: 1rem;
}
.input {
    width: 8rem;
    height: 1.5em;
    padding-left: 2em;
    margin-bottom: 0.25em;
}
.minValue::before,.maxValue::before{
    content: "от";
    font-size: 1rem;
    width: 1em;
    height: 1em;
    top: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0.4em;
}
.maxValue::before {
    content: "до";
    top: 2.1em;
}